html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: $font-med;
    margin: 0;
    padding: 0;
    color: white;
}
html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
   }
a, a:link, a:visited {
    text-decoration: none;
}

footer {
    height: 55px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about, .work, .contacts, .home {
    height: 100vh;
    padding-top: 3rem;

}
