@import 'variables';
@import 'globals';
@import 'header';
@import 'media';
@import 'contacts';

.page-wrap {
    color: black;
    position: relative;
    width: 900px;
    margin: 0 auto;
    line-height: 1.4;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    // z-index: 999;
}

#overlay {
    background-image: linear-gradient(to top,orange,transparent);
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: -1;
}