@import 'variables';
@import 'globals';
@import 'header';
@import 'media';

#overlay {
    background-image: linear-gradient(to top,lime,transparent);
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: -1;
}